*.beam
*.dump
rel/
deps/
lib/*/lib/
lib/webmachine/
lib/mochiweb/
lib/erlydtl/
lib/eper/
lib/ibrowse/
lib/lager/
lib/lhttpc/
lib/protobuffs/
lib/pooler/
lib/riakc/
lib/riakhttpc/
lib/*/ebin/
log/
*~
*.eunit

