{ deps_dir, "deps" }.

{ sub_dirs, ["lib/efs_be", "gen"] }.

{ deps
, [ { lager, ".*"
    , {git, "git://github.com/basho/lager.git", "master"}
    }
  , { webmachine, "1.9.0"
    , {git, "git://github.com/basho/webmachine", "7dbc8e42041938997a4a"}
    }
  , { mochiweb, "1.5.1"
    , {git, "git://github.com/mochi/mochiweb", "bed36252198ae7159e3d"}
    }
  , { pooler, ".*"
    , {git, "git://github.com/seth/pooler.git", "master"}
    }
  , { riakc, "1.3.1"
    , {git, "git://github.com/basho/riak-erlang-client", "master"}
    }
  , { riakhttpc, ".*"
    , {git, "git://github.com/basho/riak-erlang-http-client", "master"}
    }
  ]
}.

{erl_opts, [{parse_transform, lager_transform}]}.
